header {
  padding: 8px 0;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.493);
  width: 90%;
}

/* HAMBURGUER COMPONENT [HEADER LEFT] */
#menu-checkbox {
  display: none;
}

.menu-container {
  position: relative;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.menu-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 800; */
  user-select: none;
  cursor: pointer;
  width: 40px;
  height: 40px;

  /* background-color: rgba(0, 0, 0, 0.05); */
  border-radius: 16px;
  transition: background 125ms;
}

.third-bt-header {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;

  border: 1px solid black;
  /* background-color: #ffffff9d; */
  background-color: var(--light);
  width: 240px;
  height: auto;
  padding: 8px;
  background: e9ecef;
  left: -206px;
  margin-top: 8px;
  border-radius: 8px;
  transform-origin: right top;
}

.menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Inter;
  color: black;
  padding: 12px 16px;
  border-radius: 8px;
  transition: background 200ms;
}

.menu > * {
  gap: 4px;
}

.menu a:hover {
  background: var(--dark-grey);
}

#menu-checkbox:checked + .menu {
  display: flex;
  animation: menuIn 250ms cubic-bezier(0.47, 0.04, 0, 1.12);
}

#menu-checkbox:not(:checked) + .menu {
  animation: menuOut 250ms cubic-bezier(0.47, 0.04, 0, 1.12);
}

@keyframes menuIn {
  from {
    opacity: 0;
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menuOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.4);
    display: none;
  }
}

/* PROFILE ICONS */

.profile-icons {
  stroke: var(--dark);
}
