.login {
  width: 400px;
  height: 500px;
  background-color: var(--gray-100);
  z-index: 2;
  margin: 200px 0;
  border-radius: 22px;
  color: black;
  display: flex;
  flex-direction: column;
}

.login > input {
  margin: 20px 20px;
  padding: 6px 14px;
  border-radius: 4px;
  border: none;
  background: var(--grey);
  outline: none;
  color: var(--dark);
}

.login-component {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: var(--gray-300);
  /* background: #c33764;
  background: -webkit-linear-gradient(to left, #1d2671, #c33764);
  background: linear-gradient(to left, #1d2671, #c33764); */
}

.login-elements {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-elements > span {
  font-size: 14px;
  color: #4b5563cc;
}

.login-elements > span {
  margin: 2px 0 0 0;
}

.login-elements > input,
.password-input > input {
  border: 2px solid rgba(139, 139, 139, 0.308);
  outline: none;
  color: black;
  padding: 8px 14px;
  border-radius: 8px;
  transition: border 0.3s;
}

.login-elements > input:hover,
.password-input > input:hover {
  border: 2px solid rgba(139, 139, 139, 0.671);
}

.password-input {
  display: flex;
  justify-content: end;
}

.password-input > input {
  width: 86%;
}

.login-elements > div {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.login-card {
  margin: auto;
  width: 300px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.login-card > p {
  text-align: center;
  margin-top: 10px;
  color: #6b7280;
  font-size: 10px;
}

.login-icon {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-icon > span {
  color: #6b7280;
  font-size: 14px;
}

.login-button {
  cursor: pointer;
  padding: 8px 122px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: auto;
  margin-top: 40px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #1f2937a8;
}

.login-elements > span {
  display: flex;
  font-weight: 600;
  height: 24px;
  width: 200px;
  padding-left: 10px;
}

:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
}
